[submodule "Eto.Forms"]
	path = Eto.Forms
	url = https://github.com/DanWBR/Eto
[submodule "DWSIM.ExternalPackages/DWSIM.UnitOperations.OpenFOAM"]
	path = DWSIM.ExternalPackages/DWSIM.UnitOperations.OpenFOAM
	url = https://github.com/JarlPed/DWSIM.UnitOperations.OpenFOAM
[submodule "DWSIM.ExternalPackages/DWSIM.UnitOperations.NeuralNetwork"]
	path = DWSIM.ExternalPackages/DWSIM.UnitOperations.NeuralNetwork
	url = https://github.com/JarlPed/DWSIM.UnitOperations.NeuralNetwork

